node_modules
templates/react-gun/yarn.lock
examples
plugins/*/*.cjs

.idea
.DS_Store
dist
.blocklet
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
.vscode

*.env
*.env.*

packages/create-app/templates/*/yarn.lock
packages/create-app/templates/*/pnpm-lock.yaml
node-compile-cache
