<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="<%- base %>/favicon.svg" />
    <link rel="alternate icon" href="<%- base %>/favicon.ico" />
    <link rel="mask-icon" href="<%- base %>/favicon.svg" color="#4F6AF5" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="theme-color" content="#4F6AF5" />
    <meta name="description" content="Web site created using create-blocklet" />
    <title><%- title %></title>
    <script src="__meta__.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
